<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>商品分类</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!--css和js-->
    <div th:replace="fragments/header :: header-css-js"/>

    <style type="text/css">
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body class="no-skin">
<!--页头-->
<div th:replace="fragments/header::header"/>
<!--导航栏-->
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <!--左侧菜单区-->
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>
        <div th:replace="fragments/menu::menu"/>
    </div>
    <!--右侧内容区-->
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        添加商品
                    </h1>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" id="add-form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="productTypeId">
                                    商品分类： </label>

                                <div class="col-sm-9">
                                    <select id="productTypeId" name="productTypeId" class="col-xs-10 col-sm-5" required="required">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="name"> 商品名称： </label>

                                <div class="col-sm-9">
                                    <input type="text" id="name" name="name" class="col-xs-10 col-sm-5" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="price"> 商品价格： </label>

                                <div class="col-sm-9">
                                    <input type="text" id="price" name="price" class="col-xs-10 col-sm-5"
                                           placeholder="请输入数字" oninput="value=value.replace(/[^\d]/g,'')" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="storeQty"> 商品库存： </label>

                                <div class="col-sm-9">
                                    <input type="text" id="storeQty" name="storeQty" placeholder="请输入数字"
                                           class="col-xs-10 col-sm-5" oninput="value=value.replace(/[^\d]/g,'')" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="orderNo"> 排序号： </label>

                                <div class="col-sm-9">
                                    <input type="text" id="orderNo" name="orderNo" placeholder="请输入数字"
                                           class="col-xs-10 col-sm-5" oninput="value=value.replace(/[^\d]/g,'')" required="required">
                                </div>
                            </div>
                                <div class="col-md-offset-4 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        提交
                                    </button>
                                </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--页脚-->
    <div th:replace="fragments/footer::footer"/>

</div><!-- /.main-container -->

<!-- 尾部js-->
<div th:replace="fragments/header::bottom-css-js"/>
<script type="text/javascript">
    $(function () {
        findMenu();

        //加载商品分类
        $.ajax({
            url: "/productType/list",
            type: "GET",
            success: function (result) {
                var options="";
                $.each(result.data, function (i,r) {
                    options+='<option value='+r.id+'>'+r.name+'</option>';
                });
                $("#productTypeId").append(options);
            }
        });


    });

    //新增
    $("#add-form").submit(function (e) {
        var form = $(this);
        console.log(JSON.stringify(form.serializeJSON()));

        $.ajax({
            url: "/product/save",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(form.serializeJSON()),
            success: function (data) {
                if (data.success) {
                    $("#name").val("");
                    $("#price").val("1");
                    $("#storeQty").val("999");
                    $("#orderNo").val("1");
                } else {
                    alert(data.message);
                }

            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.


    });



</script>

</body>
</html>
