<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>商品列表</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!--css和js-->
    <div th:replace="fragments/header :: header-css-js"/>


    <style type="text/css">
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body class="no-skin">
<!--页头-->
<div th:replace="fragments/header::header"/>
<!--导航栏-->
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <!--左侧菜单区-->
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>
        <div th:replace="fragments/menu::menu"/>
    </div>
    <!--右侧内容区-->
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        商品列表
                    </h1>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div id="toolbar" class="btn-group">
                            <!--<button id="btn_add" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                            </button>
                            <button id="btn_edit" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                            </button>-->
                            <button id="btn_delete" type="button" class="btn btn-default" title="删除">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                        <table id="tb_products"></table>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
        <!--编辑框-->
        <!-- 编辑用户信息  模态窗口-->
        <form class="form-horizontal" role="form" id="edit-form">
            <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog"
                 aria-labelledby="modifyModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="modifyModalLabel">修改</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="m_productTypeId">
                                    商品分类： </label>
                                <div class="col-sm-9">
                                    <select id="m_productTypeId" name="productTypeId" required="required" class="input-large">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="m_name">
                                    商品名称： </label>
                                <div class="col-sm-9">
                                    <input type="text" id="m_name" name="name" class="input-large"
                                           required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="m_price">
                                    商品价格： </label>
                                <div class="col-sm-9">
                                    <input type="text" id="m_price" name="price" class="input-large"
                                           placeholder="请输入数字"
                                           required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="m_storeQty">
                                    商品库存： </label>
                                <div class="col-sm-9">
                                    <input type="text" id="m_storeQty" name="storeQty" class="input-large"
                                           placeholder="请输入数字" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="m_orderNo">
                                    排序编号： </label>
                                <div class="col-sm-9">
                                    <input type="text" id="m_orderNo" name="orderNo" class="input-large"
                                           placeholder="请输入数字" required="required"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer center">
                            <button type="button" class="btn btn-default middle" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary middle">保存</button>
                            <input type="hidden" id="m_id" name="id">
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>
    </div> <!-- /.main-content -->
    <!--页脚-->
    <div th:replace="fragments/footer::footer"/>

</div><!-- /.main-container -->

<!-- 尾部js-->
<div th:replace="fragments/header::bottom-css-js"/>
<!--bootstrap-table-->


<script type="text/javascript">
    $(function () {
        findMenu();

        //加载表格数据
        $('#tb_products').bootstrapTable({
            url: '/product/list',//获取所有数据的接口
            method: 'get',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            pagination: true,                   //是否显示分页（*）
            striped: true,                      //是否显示行间隔色
            cache: false,
            //sortOrder: "asc",                   //排序方式
            uniqueId: "id",                 //每一行的唯一标识，一般为主键列
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [5, 10, 20],//可供选择的每页的行数（*）
            showRefresh: true,                  //是否显示刷新按钮
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            buttonsAlign: "left",                //指定 按钮栏 水平方向的位置。'left' 或 'right'
            columns: [
                {
                    checkbox: true
                }, {
                    field: 'productTypeId',
                    title: '商品分类ID',
                    visible: false
                }, {
                    field: 'productType',//与返回数据对象属性一致
                    title: '商品分类'//表头显示
                }, {
                    field: 'name',
                    title: '商品名称'
                }, {
                    field: 'price',
                    title: '商品价格'
                }, {
                    field: 'storeQty',
                    title: '商品库存'
                }, {
                    field: 'orderNO',
                    title: '排序号',
                    visible: false
                }, {
                    field: 'operation',
                    title: '操作',
                    align: 'center',
                    events: operateEvents,//给按钮注册事件
                    formatter: addFunctionAlty//表格中增加按钮
                }]
        });

        //填充商品名称列表


        // 删除
        $("#btn_delete").click(function () {
            var ids = $.map($("#tb_products").bootstrapTable("getSelections"), function (row) {
                return row.id;
            });

            if (ids.length == 0) {
                alert("请选择要删除的行！");
            } else {
                if (confirm("确定要删除这些行？")) {
                    $.ajax({
                        type: "POST",
                        url: "/product/removes",
                        data: {"ids": ids},
                        traditional: true,
                        success: function (data) {
                            //刷新列表
                            $('#tb_products').bootstrapTable('refresh');
                        },
                        error: function (e) {
                            console.log("ERROR: ", e);
                        }
                    });
                }
            }
        });


    });

    //添加操作按钮
    function addFunctionAlty(value, row, index) {
        return [
            '<button type="button" id="btn_edit" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modifyModal">修改</button>'
        ].join('');
    }

    //添加按钮事件
    window.operateEvents = {
        // 点击修改按钮执行的方法
        'click #btn_edit': function (e, value, row, index) {
            //alert(JSON.stringify(row));
            //填充表单数据
            $("#m_id").val(row.id);
            $("#m_name").val(row.name);
            $("#m_price").val(row.price);
            $("#m_storeQty").val(row.storeQty);
            $("#m_orderNo").val(row.orderNo);
            //加载商品
            $.ajax({
                url: "/productType/list",
                type: "GET",
                success: function (result) {
                    var options = "";
                    $.each(result.data, function (i, r) {
                        if (r.id == row.productTypeId) {
                            options += '<option value=' + r.id + ' selected="selected">' + r.name + '</option>';
                        } else {
                            options += '<option value=' + r.id + '>' + r.name + '</option>';
                        }
                    });
                    $("#m_productTypeId").append(options);
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        }
    };

    //修改
    $("#edit-form").submit(function (e) {
        var form = $(this);
        //console.log(JSON.stringify(form.serializeJSON()));

        $.ajax({
            url: "/product/save",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(form.serializeJSON()),
            success: function (data) {
                if (data.success) {
                    //清空模态框数据
                    $("#m_id").val("");
                    $("#m_productTypeId>option").remove();
                    $("#m_name").val("");
                    $("#m_price").val("");
                    $("#m_storeQty").val("");
                    $("#m_orderNo").val("");
                    //刷新列表
                    $('#tb_products').bootstrapTable('refresh');
                    // 关闭修改框
                    $("#modifyModal").modal('hide');
                } else {
                    alert(data.message);
                }
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.

    });

    //自定义编辑框关闭事件
    $('#modifyModal').on('hide.bs.modal', function() {
        $("#m_productTypeId>option").remove();
    });


</script>

</body>
</html>
