<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>商品分类</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!--css和js-->
    <div th:replace="fragments/header :: header-css-js"/>
    <script src="/static/assets/js/jquery.validate.min.js"></script>
    <script src="/static/assets/js/messages_zh.min.js"></script>

    <style type="text/css">
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body class="no-skin">
<!--页头-->
<div th:replace="fragments/header::header"/>
<!--导航栏-->
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <!--左侧菜单区-->
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>
        <div th:replace="fragments/menu::menu"/>
    </div>
    <!--右侧内容区-->
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">
                            <div class="space-6"></div>
                            <div class="">


                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">新增分类</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline" id="add-form">
                                            <input type="text" id="name" class="input-middle" placeholder="名称" required="required">
                                            <input type="text" id="code" class="input-middle" placeholder="编码" required="required">

                                            <button type="submit" class="btn btn-sm btn-default">
                                                <i class="ace-icon fa bigger-110"></i>确定
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row col-md-12 table-responsive">
                                <table id="dataTable" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>分类名称</th>
                                        <th>分类编码</th>
                                        <th>操作人</th>
                                        <th>操作时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row col-md-4 col-center-block"
                                 style="margin-top: 10px; margin-bottom: 10px;">
                                <nav aria-label="...">
                                    <ul class="pager" id="pager">
                                        <!-- <li><a href="#">上一页</a></li>
                                    <li><a href="#">下一页</a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--页脚-->
    <div th:replace="fragments/footer::footer"/>

</div><!-- /.main-container -->

<!-- 尾部js-->
<div th:replace="fragments/header::bottom-css-js"/>
<script type="text/javascript">
    $(function () {
        findMenu();

        //新增
        $("#add-form").validate({
            rules: {
                account:"required",
                password: "required",
            },
            messages:{
                account:"请输入账号",
                password: "请输入密码",
            },
            submitHandler:function(form){
                addProductType();
            }
        });

        //查询数据
        getData();
    });

    var addProductType= function () {
        var name = $("#name").val();
        var code = $("#code").val();

        var param = {name: name, code: code};

        alert(JSON.stringify(param));

        $.ajax({
            url: "/product/addProductType",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(param),
            success: function (data) {
                if (data.success) {
                    alert("新增成功！");
                    $("#account").val("");
                    $("#password").val("");
                } else {
                    alert(data.message);
                }

            }
        });
    }


    function getData(pageNo) {
        curPageNo = pageNo;
        $.ajax({
                type: "POST",
                url: "/product/listProductType",
                traditional: true,
                data: {
                },
                success: function (data) {
                    var dataRow = "";

                    $.each(
                            data.rows,
                            function (i, r) {
                                dataRow += '<tr>'
                                    + '<td>'
                                    + r.name
                                    + '</td>'
                                    + '<td>'
                                    + r.code
                                    + '</td>'
                                    + '<td>'
                                    + r.updater
                                    + '</td>'
                                    + '<td>'
                                    + r.updateTime
                                    + '</td>'
                                    + '<td><a href=\'javascript:modify('
                                    + r.id
                                    + ')\'>编辑</a></td>'
                                    + '<td><a href=\'javascript:remove('
                                    + r.id
                                    + ')\'>删除</a></td>'
                                    + '</tr>';
                            });
                    $("#dataTable tbody").empty();
                    $("#dataTable tbody").append(dataRow);
                    $("#dataTable tbody tr:odd").addClass("info");
                    $("#dataTable tbody tr:even").addClass("success");
                },
                error: function (e) {
                    //alert("ERROR: " + e.responseText);
                    console.log("ERROR: ", e.responseText);
                }
            });
    }

    //删除
    function remove(id) {
        if (confirm("确定删除该商品分类？")) {
            $.ajax({
                type: "POST",
                url: "/product/removeProductType",
                traditional: true,
                data: {
                    id: id
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (e) {
                    //alert("ERROR: ", e);
                    console.log("ERROR: ", e);
                }
            });
        }

    }


</script>

</body>
</html>
