<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>商品分类</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!--css和js-->
    <div th:replace="fragments/header :: header-css-js"/>

    <style type="text/css">
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body class="no-skin">
<!--页头-->
<div th:replace="fragments/header::header"/>
<!--导航栏-->
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <!--左侧菜单区-->
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>
        <div th:replace="fragments/menu::menu"/>
    </div>
    <!--右侧内容区-->
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">
                            <div class="space-6"></div>
                            <div class="">


                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4 class="widget-title">新增分类</h4>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <form class="form-inline" id="add-form">
                                                <input type="text" id="name" name="name" class="input-middle"
                                                       placeholder="名称" required="required"/>
                                                <input type="text" id="code" name="code" class="input-middle"
                                                       placeholder="编码" required="required"/>

                                                <button type="submit" class="btn btn-sm btn-default">
                                                    <i class="ace-icon fa bigger-110"></i>确定
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default"
                                                        onclick="removeSelected()">
                                                    <i class="ace-icon fa bigger-110"></i>删除
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12 table-responsive">
                                <table id="dataTable" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center">
                                            <input type="checkbox" id="checkAll">
                                        </th>
                                        <th>分类名称</th>
                                        <th>分类编码</th>
                                        <th>操作人</th>
                                        <th>操作时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row col-md-4 col-center-block"
                                 style="margin-top: 10px; margin-bottom: 10px;">
                                <nav aria-label="...">
                                    <ul class="pager" id="pager">
                                        <!-- <li><a href="#">上一页</a></li>
                                    <li><a href="#">下一页</a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->


    <!-- 编辑用户信息  模态窗口-->
    <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog"
         aria-labelledby="modifyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="modifyModalLabel">修改</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group center">
                        <input type="text" id="m_name" name="m_name" class="input-middle"
                               placeholder="名称" required="required"/>
                    </div>
                    <div class="form-group center">
                        <input type="text" id="m_code" name="m_code" class="input-middle"
                               placeholder="编码" required="required"/>
                    </div>
                </div>
                <div class="modal-footer center">
                    <button type="button" class="btn btn-default middle" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary middle" onclick="saveProductType()">保存</button>
                    <input type="hidden" id="m_id">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!--页脚-->
    <div th:replace="fragments/footer::footer"/>

</div><!-- /.main-container -->

<!-- 尾部js-->
<div th:replace="fragments/header::bottom-css-js"/>
<script type="text/javascript">
    $(function () {
        findMenu();

        //查询数据
        getData();


    });

    //新增
    $("#add-form").submit(function (e) {
        var form = $(this);
        var url = form.attr('action');

        //console.log(JSON.stringify(form.serializeJSON()));

        $.ajax({
            url: "/product/saveProductType",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(form.serializeJSON()),
            success: function (data) {
                if (data.success) {
                    $("#name").val("");
                    $("#code").val("");
                    //重新加载列表
                    getData();
                } else {
                    alert(data.message);
                }

            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.


    });

    //获取列表
    function getData(pageNo) {
        curPageNo = pageNo;
        $.ajax({
            type: "GET",
            url: "/product/listProductType",
            success: function (data) {
                var dataRow = "";
                var d = new Date();
                //console.log(JSON.stringify(data));

                $.each(
                    data.data,
                    function (i, r) {
                        var updateTime = new Date(r.updateTime).getTime();
                        dataRow += '<tr>'
                            + '<td class="center">'
                            + '<input type="checkbox" onclick="checkMe(this)" name="id" value="' + r.id + '">'
                            + '</td>'
                            + '<td>'
                            + r.name
                            + '</td>'
                            + '<td>'
                            + r.code
                            + '</td>'
                            + '<td>'
                            + r.updater
                            + '</td>'
                            + '<td>'
                            + new Date(updateTime).format("yyyy-MM-dd hh:mm:ss")
                            + '</td>'
                            + '<td><a href=\'javascript:modify('
                            + r.id
                            + ')\'>编辑</a>&nbsp;&nbsp;'
                            + '<a href=\'javascript:remove('
                            + r.id
                            + ')\'>删除</a></td>'
                            + '</tr>';
                    });
                $("#dataTable tbody").empty();
                $("#dataTable tbody").append(dataRow);
                // $("#dataTable tbody tr:odd").addClass("info");
                // $("#dataTable tbody tr:even").addClass("success");
            },
            error: function (e) {
                //alert("ERROR: " + e.responseText);
                console.log("ERROR: ", e.responseText);
            }
        });
    }

    //删除单条
    function remove(id) {
        if (confirm("确定删除该商品分类？")) {
            var data = {"id": id};
            $.ajax({
                type: "POST",
                url: "/product/removeProductType",
                data: data,
                success: function (data) {
                    //重载数据
                    getData();
                },
                error: function (e) {
                    //alert("ERROR: ", e);
                    console.log("ERROR: ", e);
                }
            });
        }

    }

    //删除多条
    function removeSelected() {
        var checkedList = new Array();
        $("input[name='id']:checked").each(function () {
            checkedList.push(parseInt($(this).val()));
        });

        if (checkedList.length == 0) {
            alert("请选择要删除的行！");
        } else {
            if (confirm("确定删除商品分类？")) {
                var data = {"ids": checkedList};
                $.ajax({
                    type: "POST",
                    url: "/product/removeProductTypes",
                    traditional: true,
                    data: data,
                    success: function (data) {
                        //重载数据
                        getData();
                    },
                    error: function (e) {
                        //alert("ERROR: ", e);
                        console.log("ERROR: ", e);
                    }
                });
            }
        }
    }

    // 加载修改框
    function modify(id) {
        $.ajax({
            url: '/product/loadProductType',
            data: {"id": id},
            type: 'GET',
            success: function (result) {
                $("#m_id").val(id);
                $("#m_name").val(result.data.name);
                $("#m_code").val(result.data.code);
                //打开修改框
                $("#modifyModal").modal('show');
            },
            error: function () {
                alert("数据加载失败！");
            }
        });
    }

    // 修改
    function saveProductType() {
        // 调用后台方法进行保存
        var data={};
        data["id"]=$("#m_id").val();
        data["code"]=$("#m_code").val();
        data["name"]=$("#m_name").val();

        $.ajax({
            url: '/product/saveProductType',
            type: 'POST',
            contentType : 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
                // 关闭修改框
                $("#modifyModal").modal('hide');
                // 刷新列表
                getData();
            },
            error: function (returndata) {
                alert("修改失败！");
            }

        });
    }


</script>

</body>
</html>
