<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>管理后台</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!--css和js-->
    <div th:replace="fragments/header :: header-css-js"/>
    <link rel="stylesheet" href="/static/assets/css/ui.jqgrid.min.css"/>

    <style type="text/css">
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body class="no-skin">
<!--页头-->
<div th:replace="fragments/header::header"/>
<!--导航栏-->
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <!--左侧菜单区-->
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>
        <div th:replace="fragments/menu::menu"/>
    </div>
    <!--右侧内容区-->
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">
                            <div class="space-6"></div>

                            <div class="row col-md-3 col-center-block"
                                 style="margin-top: 10px; margin-bottom: 10px;">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="name" placeholder="请输入账号">
                                    <span class="input-group-btn">
																	<button class="btn btn-sm btn-default" type="button"
                                                                            id="search">
																		查询
																	</button>
																</span>
                                </div>
                            </div>
                            <div class="row col-md-12 table-responsive">
                                <table id="dataTable" class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>账号</th>
                                        <th>密码</th>
                                        <th>金元宝</th>
                                        <th>银元宝</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row col-md-4 col-center-block"
                                 style="margin-top: 10px; margin-bottom: 10px;">
                                <nav aria-label="...">
                                    <ul class="pager" id="pager">
                                        <!-- <li><a href="#">上一页</a></li>
                                    <li><a href="#">下一页</a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--页脚-->
    <div th:replace="fragments/footer::footer"/>

</div><!-- /.main-container -->

<!-- 尾部js-->
<div th:replace="fragments/header::bottom-css-js"/>
<script src="/static/assets/js/jquery.jqGrid.min.js"></script>
<script src="/static/assets/js/grid.locale-en.js"></script>
<script type="text/javascript">
    $(function () {
        findMenu();

        var curPageNo;
        //查询第一页数据
        getData(1);

        //模糊查询
        $("#search").click(function () {
            getData(1);
        });

        //模糊查询
        $("#gotoIndex").click(function () {
            window.open("/index.html");
        });

        var curPageNo;

    });


    function getData(pageNo) {
        curPageNo = pageNo;
        $.ajax({
                type: "POST",
                url: "/account/listByAccount",
                traditional: true,
                data: {
                    "account": $("#name").val(),
                    "pageNo": pageNo,
                    "pageSize": "10"
                },
                success: function (data) {
                    var dataRow = "";
                    var pager = "";
                    var pre = "<button class='btn btn-sm btn-default' onclick='pre();'>上一页</button>";
                    var next = "<button class='btn btn-sm btn-default' onclick='next();'>下一页</button>";
                    var totalPages = data.totalPages;
                    /*console.log(JSON.stringify(data));
                    console.log('totalPages:'+totalPages);
                    console.log('curPageNo:'+curPageNo);*/

                    if (totalPages > 1) {
                        //上一页+下一页
                        if (curPageNo > 1 && curPageNo < totalPages) {
                            pager = pre + next;
                        }
                        //上一页
                        if (curPageNo == totalPages) {
                            pager = pre;
                        }
                        //下一页
                        if (curPageNo == 1) {
                            pager = next;
                        }
                    }

                    $.each(
                            data.rows,
                            function (i, r) {
                                dataRow += '<tr>'
                                    + '<td>'
                                    + r.account
                                    + '</td>'
                                    + '<td>'
                                    + r.password
                                    + '</td>'
                                    + '<td>'
                                    + r.goldCoin
                                    + '</td>'
                                    + '<td>'
                                    + r.silverCoin
                                    + '</td>'
                                    + '<td><a href=\'javascript:removeFile('
                                    + r.id
                                    + ')\'>删除</a></td>'
                                    + '</tr>';
                            });
                    $("#dataTable tbody").empty();
                    $("#dataTable tbody").append(dataRow);
                    $("#pager").empty();
                    $("#pager").append(pager);
                    //$("#dataTable tbody tr:odd").addClass("info");
                    //$("#dataTable tbody tr:even").addClass("success");
                },
                error: function (e) {
                    //alert("ERROR: " + e.responseText);
                    console.log("ERROR: ", e.responseText);
                }
            });
    }

    //删除文件
    function removeFile(id) {
        if (confirm("确定删除数据？")) {
            $.ajax({
                type: "POST",
                url: "/removeFile",
                traditional: true,
                data: {
                    id: id
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (e) {
                    //alert("ERROR: ", e);
                    console.log("ERROR: ", e);
                }
            });
        }
    }

    //下载文件
    function downloadFile(id) {
        window.open("/downloadFile/" + id);
    }

    //上一页
    function pre() {
        getData(curPageNo - 1);
    }

    //下一页
    function next() {
        getData(curPageNo + 1);
    }

</script>

</body>
</html>
