<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>管理后台</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!--css和js-->
    <div th:replace="fragments/header :: header-css-js"/>
</head>

<body class="no-skin">
<!--页头-->
<div th:replace="fragments/header::header"/>
<!--导航栏-->
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <!--左侧菜单区-->
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

        <ul class="nav nav-list" style="top: 0px;">
            <li class="">
                <a th:href="@{/admin}">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 仪表板 </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>
    <!--右侧内容区-->
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">
                            <div class="space-6"></div>

                            <div class="col-sm-7 infobox-container">
                                <div class="widget-header widget-header-flat">
                                    <h4 class="widget-title lighter">
                                        <i class="ace-icon fa fa-signal"></i>
                                        注册情况统计
                                    </h4>
                                </div>
                                <div class="infobox infobox-green">
                                    <div class="infobox-data">
                                        <span class="infobox-data-number" th:text="${registerCountMap['totalToday']}">32</span>
                                        <div class="infobox-content">今日注册账号</div>
                                    </div>
                                </div>

                                <div class="infobox infobox-blue">

                                    <div class="infobox-data">
                                        <span class="infobox-data-number" th:text="${registerCountMap['totalIpToday']}">11</span>
                                        <div class="infobox-content">今日注册IP</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-pink">
                                    <div class="infobox-data">
                                        <span class="infobox-data-number" th:text="${registerCountMap['total']}">32</span>
                                        <div class="infobox-content">总注册账号</div>
                                    </div>
                                </div>

                                <div class="infobox infobox-red">

                                    <div class="infobox-data">
                                        <span class="infobox-data-number" th:text="${registerCountMap['totalIp']}">11</span>
                                        <div class="infobox-content">总注册IP</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--页脚-->
    <div th:replace="fragments/footer::footer"/>

</div><!-- /.main-container -->

<!-- 尾部js-->
<div th:replace="fragments/header::bottom-css-js"/>
</body>
</html>
