<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cardMapper">
    <resultMap id="cardMap" type="com.laoxu.gamedog.model.product.Card">
        <result property="id" column="ID"/>
        <result property="productId" column="product_id"/>
        <result property="cardNo" column="CARD_NO"/>
        <result property="cardPassword" column="CARD_PASSWORD"/>
        <result property="priority" column="PRIORITY"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updater" column="UPDATER"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <insert id="insert" parameterType="com.laoxu.gamedog.model.product.Card">
      insert into card (
              product_id,
              card_no,
              card_password,
              priority,
              creater,
              create_time,
              updater,
              update_time
              )
      VALUES (
            #{productId},
            #{cardNo},
            #{cardPassword},
            #{priority},
            #{creater},
            #{createTime},
            #{updater},
            #{updateTime}
          )
    </insert>

    <update id="update" parameterType="com.laoxu.gamedog.model.product.Card">
        update card
        set card_no=#{cardNo},
            card_password=#{cardPassword},
            product_id=#{productId},
            priority = #{priority}
            updater=#{updater},
            update_time=#{updateTime}
        where id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM card
        WHERE id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM card
        WHERE id IN
        <foreach collection="idAry" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="load" parameterType="java.lang.Long" resultMap="cardMap">
        select id,
               product_id,
               card_no,
               card_password,
               priority,
               creater,
               create_time,
               updater,
               update_time
        from card
        where id = #{id}
    </select>

    <select id="selectAll" resultType="map">
        select t1.id,
               t1.product_id as "productId",
               t2.name as "productName",
               t1.card_no as "cardNo"
               t1.card_password as "cardPassword",
               t1.priority as "priority"
        from card t1 left join product t2 on t1.product_id=t2.id
        order by t1.card_no, t1.update_time desc
    </select>

    <select id="count" parameterType="Map" resultType="java.lang.Integer">
        select count(*)
        from card
        <where>
            <if test="cardNo!=null and cardNo!=''">
                AND card_no = #{cardNo}
            </if>
        </where>
    </select>
</mapper>