<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="registerConfigMapper">
    <resultMap id="registerConfigMap" type="com.laoxu.gamedog.model.RegisterConfig">
        <result property="goldCoin" column="gold_coin" jdbcType="INTEGER" />
        <result property="silverCoin" column="silver_coin" jdbcType="INTEGER" />
        <result property="limitHour" column="limit_hour" jdbcType="INTEGER" />
        <result property="limitNum" column="limit_num" jdbcType="INTEGER" />
    </resultMap>

    <select id="load" parameterType="java.lang.String" resultMap="registerConfigMap">
        select gold_coin,
               silver_coin,
               limit_hour,
               limit_num
        from register_config
    </select>

</mapper>